<sly data-sly-use.model="model.js">
    <div id="agent-error" data-default-message="${model.defaultMessage}">
        <sly data-sly-unwrap>
            <div class="agent-error--container">
                <div class="message-header">
                    <img src="${model.logo}" alt="logo image"/>
                </div>
                <div class="message-body">
                    <!--Template-->
                    <sly data-sly-test="${!wcmmode.disabled}" data-sly-unwrap>
                        <p>FPO - Error message is displayed here.</p>
                        <p>FPO - Error code: (0000)</p>
                    </sly>
                </div>
                </div>

            <script id="agent-error--template" type="text/x-handlebars-template">
                    <p>{{{message}}}</p>
                    {{#if code}}
                        <p> Error code: ({{code}})</p>
                    {{/if}}
            </script>
        </sly>
    </div>
    <sly data-sly-include="hoverbar.html" data-sly-unwrap />
</sly>
